{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="form-inline form-group">
    <label>id : {{ element.id }}</label>
</div>

    <div class = "form-inline form-group">
        <label>name: </label><label>
        {{ element.name }}
    </label>
    </div>
    <div class = "form-inline form-group">
        <label>primitive(integer, string, boolean, number) : </label><label>
        {{ element.primitive }}
    </label>
    </div>


    <div class = "form-inline form-group">
        <label>is_category : </label>
        <label>
            {{ element.is_category }}
        </label>
    </div>

    <div class = "form-inline form-group">
        <label>has_length_limit : </label>
        <label>
            {{ element.has_length_limit }}
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>has_range_limit : </label>
        <label>
            {{ element.has_range_limit }}
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>default_value : </label>
        <label>
            {{ element.default_value }}
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>unit_of_value : </label>
        <label>
            {{ element.unit_of_value }}
        </label>
    </div>
        <div class = "form-inline form-group">
    <label>min_length : </label>
        <label>
            {{ element.min_length }}
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>max_length : </label>
        <label>
            {{ element.max_length }}
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>format : </label>
        <label>
            {{ element.format }}
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>pattern : </label>
        <label>
           {{ element.pattern }}
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>minimum : </label>
        <label>
            {{ element.minimum }}
        </label>
    </div>
        <div class = "form-inline form-group">
        <label>maximum : </label>
        <label>
            {{ element.maximum }}
        </label>
    </div>
    <div class = "form-inline form-group">
    <label>multiple_of : </label>
        <label>
            {{ element.multiple_of }}
        </label>
    </div>

<div class="form-inline form-group">
    <label> created_at : {{ element.created_at }} </label>
</div>
<div class="form-inline form-group">
    <label>updated_at : {{ element.updated_at }} </label>
</div>
    <button type = "button" class = "delete-item">Delete this</button>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("body").on("click", ".delete-item", function (e) {
            if (!confirm("삭제하시겠습니까?")) {
                return false;
            }
            $.ajax({
                url: "",
                type: 'DELETE',
                success: window.location.href = "../"
            });
            return false;
        });
    });
</script>