{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% if list %}
  <ul>
  {% for item in list %}
  <li><a href="{{ item.id }}/">id : {{ item.id }} name : {{ item.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>{{category}}가 없습니다.</p>
{% endif %}
<form method = "POST">
    <div class = "form-inline form-group">
        <label>{{ category }} Create</label>
    </div>

    <div class = "form-inline form-group">
        <label>name : </label><label>
        <input name="key" type="text"  >
    </label>
    </div>
    <div class = "form-inline form-group">
        <label>version : </label><label>
        <input name="super_permission" type="number"  >
    </label>
    </div>

    <div class = "form-inline form-group">
        <label>vendor : </label>
        <label>
            <input name="user_permission" type="number"  >
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>is_object : </label>
        <label>
            <input name="is_object" type="checkbox"  >
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>is_array : </label>
        <label>
            <input name="is_array" type="checkbox"  >
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>is_object_array : </label>
        <label>
            <input name="is_object_array" type="checkbox"  >
        </label>
    </div>


    <input type="submit" value = "create">
</form>