{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% if list %}
  <ul>
  {% for item in list %}
  <li><a href="{{ item.id }}/">id : {{ item.id }} key : {{ item.key }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>{{category}}가 없습니다.</p>
{% endif %}
<form method = "POST">
    <div class = "form-inline form-group">
        <label>{{ category }} Create</label>
    </div>

    <div class = "form-inline form-group">
        <label>key: </label><label>
        <input name="key" type="text"  >
    </label>
    </div>
    <div class = "form-inline form-group">
        <label>label_ko : </label>
        <label>
            <input name="label_ko" type="text"  >
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>label_en : </label>
        <label>
            <input name="label_en" type="text">
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>super_permission : </label><label>
        <input name="super_permission" type="number"  >
    </label>
    </div>

    <div class = "form-inline form-group">
        <label>user_permission : </label>
        <label>
            <input name="user_permission" type="number"  >
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>is_object : </label>
        <label>
            <input name="array[]" type="checkbox" value="obj" >
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>is_array : </label>
        <label>
            <input name="array[]" type="checkbox" value="array" >
        </label>
    </div>
    <div class = "form-inline form-group">
        <label>is_object_array : </label>
        <label>
            <input name="array[]" type="checkbox" value="objarray" >
        </label>
    </div>


    <input type="submit" value = "create">
</form>